body{

    background: url(/src/img/mobile-background.svg) no-repeat;
    background-size:cover;
    
        header {
            font-size: 30px;
            font-family: "Courier New, Courier, monospace";
            line-height: 0.8;
        }

        #collection, #tracker {
            color: beige;
        }

}
