$primary-overlay:rgba(0, 0, 0, 0.85);

.bg-darkk {
  background-color: rgba(0, 0, 0, 0.9);
}

//body{background-color: green;}

#section1{
    position:relative;
    background:url('/src/img/showcase.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:32rem;
  }

#mini-section1{
  display: none;
}

#section{
  padding: 0px 10px;
}

#section2{
  margin: 20px 250px 0px 250px;
  padding: 0px 10px;
}

#desktop-text{
  font-size:1.2vw;
  padding: 30px;
}

  #section3{
    margin: 0px 250px;
    padding: 0px 10px;
  }

  #showcase-name{
    background-color: $primary-overlay;
    display: inline-block;
    padding: 20px;
}

#showcase-description{
  background-color: $primary-overlay;
  display: inline-block;
}

  #phone-contact, #email-contact {

    padding-right: 50px;
    display: inline;

  }

  #footer {
    background-color: $primary-overlay;
}
